/Ecopact-Frontend/node_modules
/Ecopact-Backend/alertsApi/node_modules
/Ecopact-Backend/authApi/node_modules
/Ecopact-Backend/dataApi/node_modules
/Ecopact-Backend/predictionApi/node_modules
/Ecopact-Backend/userApi/node_modules